{% extends 'base.html.twig' %}

{% block title %}Edit Turno{% endblock %}

{% block body %}
    <h1>Edit Turno</h1>

    {{ include('turno/_form.html.twig', {'button_label': 'Guardar cambios'}) }}
    <br>

    <a href="{{ path('app_turno_index') }}" class="btn btn-primary" >Volver</a>
{% endblock %}
