{% extends 'base.html.twig' %}

{% block title %}Turnos{% endblock %}

{% block body %}

    <style>
        #turno_hora {
            margin:20px 0;
            height: 50px;
            border: none;
            overflow: hidden;
        }
    
        #turno_hora::-moz-focus-inner {
            border: 0;
        }
    
        #turno_hora:focus {
            outline: none;
        }
    
        #turno_hora option {
            width: 80px;
            font-size: 1.2em;
            padding: 10px 0;
            text-align: center;
            margin-right: 20px;
            display: inline-block;
            cursor: pointer;
            border: rgb(204, 204, 0) solid 1px;
            border-radius: 5px;
            color: rgb(204, 204, 0);
        }
    </style> 

    <h1>Solicitar un turno nuevo</h1>
    <br>

    <div class="col-6">
        
    {{ include('turno/_form.html.twig') }}

    <br>
    <br>
    <a href="{{ path('app_index') }}"><button class="btn btn-primary">{{ button_label|default('Volver') }}</button></a>
    </div>
    
    

{% endblock %}
{% block javascript %}
<script>
    $(document).ready(function () {

        $("#turno_hora").hide();
        
        
        $("#turno_fecha").change(function () {
            
            var fechaSelect = $("#turno_fecha").val();
            var horariosOcupados;

            $.ajax({
                url: "{{path('app_turno_get_horarios')}}",
                type: 'POST',
                data: {
                    'dia' : fechaSelect
                },
                dataType:"JSON",

                success: function (response) {

                    horariosOcupados = response;       

                    $("#turno_hora option").each(function () {
                        
                        valor = $(this).val();
                        if (horariosOcupados.turnosOcupados.includes(valor)){
                            $(this).hide();
                        }else{
                            $(this).fadeIn(250);
                        }                        
                    });

                },

                error: function (xhr, status, error, response) {
                    console.log(error)
                    alert('Error al realizar la solicitud:', error);
                    console.log(response)
                }

            });  
            
          
                               
                            
            $("#turno_hora").fadeIn(250);           
            
        });

    });
</script>
{% endblock %}