{% extends 'base.html.twig' %}

{% block title %}Turnos{% endblock %}

{% block body %}
    <h1>Solicitar un turno nuevo</h1>
    <br>

    <div class="col-6">
        
    {{ include('turno/_form.html.twig') }}

    <br>
    <br>
    <a href="{{ path('app_index') }}"><button class="btn btn-primary">{{ button_label|default('Volver') }}</button></a>
    </div>
    
    

{% endblock %}
{% block javascript %}
<script>
    $("#turno_fecha").on("change",function(){ 
        console.log("entre");
        console.log($("#turno_fecha").val());
    });
</script>
    
{% endblock %}