{% extends 'base.html.twig' %}

{% block title %}TestController!{% endblock %}

{% block body %}
    
    {% if "ROLE_PACIENTE" in app.user.getRoles() %}

        <h1>Titulo de titulo</h1>
        
    {% endif %}

    {% if "ROLE_MEDICO" in app.user.getRoles() %}        

        ROL DE USUARIO MEDICO
        
    {% endif %}
   
{% endblock %}
